<section>
    <div class="skewPortada">
        <div class="contImg1">
            <img src="assets/pexels-fauxels-3183190.jpg" alt="">
    
        </div>
        <div class="contP">
            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla asperiores inventore quod
                doloribus quisquam vel veritatis iste hic recusandae magnam maiores neque ipsa error voluptatum,
                blanditiis rem porro veniam?</p>
    
        </div>
    </div>
</section>
