<section class="sec1">
    <div class="nosotros">
        
        <div id="contenedor">
            <div id="slider">
                <figure><img src="assets/icono html.png" alt=""></figure>
                <figure><img src="assets/iconoJquery.png" alt=""></figure>
                <figure><img src="assets/imgjavascript.png" alt=""></figure>
                <figure><img src="" alt=""></figure>
            </div>
        </div>
    </div>    
        <div class="nosotrosP">
            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dicta impedit tenetur error. Non
                nemo
                ex, odit deserunt repudiandae, laborum iusto quas consequuntur necessitatibus, quibusdam unde magni
                dolor suscipit mollitia.</p>
        </div>
   
</section>
<div class="contenedor">
    <div class="contbox">
        <div class="contImg">
            <img src="" alt="imagen">
        </div>
        <h2>Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ratione quos minus, iure itaque
            expedita, commodi nulla aperiam est repellendus deleniti odit iusto recusandae autem voluptas
            accusamus
            corporis reiciendis debitis?</p>
        <a href="">boton</a>

    </div>
    <div class="contbox">
        <div class="contImg">
            <img src="" alt="imagen">
        </div>
        <h2>Lorem ipsum dolor sit.</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ab dolor consequatur ad
            corporis
            necessitatibus aliquam nemo nihil, iure doloremque! Sit autem magnam, incidunt sed velit
            voluptatibus
            omnis saepe debitis?</p>
        <a href="">boton</a>
    </div>
    <div class="contbox">
        <div class="contImg">
            <img src="" alt="imagen">
        </div>
        <h2>Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo distinctio saepe veniam soluta ullam
            magni
            nulla aperiam quasi beatae tenetur placeat sit neque dolorum similique, cum facilis rerum expedita
            blanditiis.</p>
        <a href="">boton</a>
    </div>
</div>
