<section>
    <div class="contcontacto">
        <div class="formcont">
            <form>
                <h2><b>Contactenos</b></h2>
                <div class="inputcont">
                    <input type="text" name="" required="required">
                    <span>Nombre completo</span>
                </div>
                <div class="inputcont">
                    <input type="email" name="" required="required">
                    <span>Correo electronico</span>
                </div>
                <div class="inputcont">
                    <textarea required="required"></textarea>
                    <span>Dejanos tu mensaje aquí</span>
                </div>
                <div class="inputcont">
                    <input type="submit" value="enviar" name="">
                 
                </div>
            </form>
        </div>
        <div class="contactImg">

        </div>


    </div>
    
</section>
